@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Martel+Sans:200,300,400,800,900);
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

section.head {
  background-color: #fff;
  position: relative;
  z-index: 10;
}
section.head a {
  widht: 300px;
  height: 500px;
   font-size: 160px;
   text-decoration:none;
  line-height: 0.9;
  position: absolute;
  margin-left: 50px;
  font-weight:600;
  color: #7a5f50;
  display: inline-block;
  
  -webkit-transition: all 2s cubic-bezier(0.21, 1, 0.84, 1.01);
  -moz-transition: all 2s cubic-bezier(0.21, 1, 0.84, 1.01);
  transition: all 2s cubic-bezier(0.21, 1, 0.84, 1.01);
}
section.head a:before, section.head a:after {
  color: #2e2e2e;
  font-weight: 900;
  font-size: 30px;
  text-transform: none;
  display: block;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  transition: inherit;
}
section.head a:before {
  content: attr(data-bf);
  position: absolute;
  top: -45px;
  left: -5px;
}
section.head a:after {
  content: attr(data-af);
  position: absolute;
  right: 0;
  bottom: -30px;
}
section.head a:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
section.head a:hover:before {
  -webkit-transform: scale(1.2) translate(-25px, -15px);
  -moz-transform: scale(1.2) translate(-25px, -15px);
  -ms-transform: scale(1.2) translate(-25px, -15px);
  -o-transform: scale(1.2) translate(-25px, -15px);
  transform: scale(1.2) translate(-25px, -15px);
}
section.head a:hover:after {
  -webkit-transform: scale(1.2) translate(25px, 15px);
  -moz-transform: scale(1.2) translate(25px, 15px);
  -ms-transform: scale(1.2) translate(25px, 15px);
  -o-transform: scale(1.2) translate(25px, 15px);
  transform: scale(1.2) translate(25px, 15px);
}
#content{
	width: 90%;
	height: 400px;
	border-bottom: 1px black solid;
	margin: auto;
	margin-top:100px;
	background-color: ;
}
#company{
	width: 10%;
	font-size: 60px;
	font-weight: 900;
	display: inline-block;
	float: left;
	margin-top: 100px;
	margin-left: 50px;
}
#eng{
	width:70%;
	float: right;
	margin-left: 100px;
	font-size: 15px;
	line-height: 1.6;
	font-weight: normal;
	padding: 0;
	margin-top: 100px;
}
#gold{
	widht: 300px;
	height: 500px;
	color: #7a5f50;
	line-height: 0.9;
    font-size: 150px;
    font-weight:bolder;
    display: inline-block;
    margin-top: 50px;
    margin-left: 110px;
}
#text{
	float: right;
	margin-top: 400px;
	margin-right: 200px;
	color: #7a5f50;
	font-weight: bolder;
	font-size: 18px;
}
#img{
	width: 90%;
	height: 1080px;
	margin: auto;
	margin-bottom: 50px;
	background-image: url('/Semi_1/img/about/hair2.jpg');
	-webkit-animation-name: hair;
	-webkit-animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
	animation-name: hair;
	animation-duration: 5s;
}
@-webkit-keyframes hair{
	from {background-image: url('/Semi_1/img/about/hair2.jpg');}
	to {background-image: url('/Semi_1/img/about/hair1.jpg');}
}
@keyframes hair{
	from {background-image: url('/Semi_1/img/about/hair2.jpg');}
	to {background-image: url('/Semi_1/img/about/hair1.jpg');}
}
/* <!-- ================== TOP ==================== --> */
.top{
    display: none;
    position: fixed;
    bottom: 5%;
    right: 30px;
    width: 45px;
    height: 35px;
    padding: 8px;
    overflow: hidden;
    color: #fff;
    text-align: center;
    background: #000;
    z-index: 1;
}
/* <!-- ================== TOP ==================== --> */






















