@charset "UTF-8";

#storeheader{
width: 120px;
height: 100%;	
border-right: 1px #5F4B8B solid;
position: fixed;
background-color: #5F4B8B;
}

#storeheader > img{
	display: inline-block;
	margin: 10px;
}

#storeheader > a{
	display: block;
	height: 50px;
}

.font{
	color: white;
	text-align: center;
}

#storeName{
	height: 70px;
	width: 100%;
	margin: 10px 0;
}
#storeMenu{
text-align: center;
margin: 100px auto;
}

.menuli{
	height: 50px;
}

.menuli:hover{
	background: white;
	height: 50px;
}

.menuli > a{
	display: inline-block;
	color: white;
	text-decoration: none;
	text-align: center;
}

.menuli:hover > a{
	display: inline-block;
	text-align: center;
	color: #5F4B8B;
	text-decoration: none;
}
