@charset "UTF-8";

#storeView{
	background-color: white;
	width:60%;
	height: 100%;
	margin: 0 auto;
}

#storeView h1{
	width: 50%;
	margin: 0px auto;
	margin-top: 20px;
	color: #5F4B8B;
	text-align: center;
	font-size: 35px;
}
#info1{
	font-size: 13px;
	color: gray;
	width: 50%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 10px;
	border-bottom: #D8D8D8 solid 1px;
}
#semistore{
	width: 70%;
	margin: 40px auto;
	border-left: #D8D8D8 solid 1px;
	border-right:  #D8D8D8 solid 1px;
	border-top: #5F4B8B solid 2px;
}

#semistore tr{
	height: 70px;
	line-height: 70px;
	margin: 0px 10px;
}

td{
	border-bottom: #D8D8D8 1px dashed;
}

tr input{
	width: 250px;
	height: 30px;
	border: #D8D8D8 solid 1px;
}

#but{
	background-color:#5F4B8B;
	color: white;
	width: 50px
}

#btn{
	margin: 0 auto;
	display:block;
	width: 150px;
	height: 50px;
	font-size: 20px;
	border: #5F4B8B 1px solid;
	background-color: white;
	color: #5F4B8B;
	 -webkit-transition:background-color 1s;
    transition:background-color 1s;
}

#btn:hover{
	background-color: #5F4B8B;
	color: white;	
}

.btn{
	width: 150px;
	height: 70px;
	line-height: 70px;
	color: #6baed6;
	border:#E1E1E1 1px solid;
	border-radius:9px;
	 -webkit-transition:background-color 1s;
    transition:background-color 1s;
    background-color: white;
}

#booklist{
	width: 320px;
	margin: 20px auto;
	
	}

.btn:hover{
	color:white;
	background-color: #6baed6;
}

#file{
	border: none;
}

#last{
	height: 100px;
	border: none;
}

.first{
	text-align: center;
	color:#5F4B8B;
	font-weight: bold;
}
