@charset "UTF-8";

#img{
	width: 100%;
	height: 850px;
	margin: 50px 0;
}
#imgg{
	width: 75%;
	height: 100%;
	display: inline-block;
	float: left;
}

#mainimg{
	width: 100%;
	height: 100%;
}

#storeContents{
	margin: 2.3%;
	background-color: white;
	width: 20%;
	height: 90%;
	float: right;
	border: #E1E1E1 1px solid;
}

#info{
	margin-left: 30px;
}

#info> h1{
	font-size: 40px;
	margin-bottom: 40px;
}

#info > h3{
	color:#757575;
	margin-top: 35%;
}

#storeContents p{
	padding: 5px;
}

#mapArea{
	border-top: #E1E1E1 1px solid;
	border-bottom: #E1E1E1 1px solid;
	width: 100%;
	height: 700px;
	background-color: white;
}

#mapArea > h1{
	margin-left: 20px;
	margin-top: 50px;
	padding: 20px 0;
}

.toggle{
	background-color: #fff;
	font-size: 12px;
	margin: 10px 0px;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	width: 90px;
	height:50px;
	border:#5F4B8B 1px solid;
	 -webkit-transition:background-color 0.5s;
    transition:background-color 0.5s;
}

.toggle:hover{
	background-color: #5F4B8B;
	color: white;
}

.off{
	background-color: #fff;
	font-size: 12px;
	margin: 10px 0px;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	width: 100px;
	height:50px;
	border:#5F4B8B 1px solid;
	 -webkit-transition:background-color 0.5s;
    transition:background-color 0.5s;
}

.off:hover{
	background-color: #5F4B8B;
	color: #fff;
}

.on{
	color: #fff;
	background-color: #5F4B8B;
	font-size: 12px;
	margin: 10px 0px;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	width: 100px;
	height:50px;
	border:#5F4B8B 1px solid;
	 -webkit-transition:background-color 0.5s;
    transition:background-color 0.5s;
}

.on:hover{
	background-color: #fff;
	color: #5F4B8B;
}

#ownerMenu{
	font-size: 14px;
	margin-top: 30px;
}

#ownerMenu > div{
	width: 70px;
	height: 30px;
}

