@charset "UTF-8";

#storeheader{
margin: 20px;
width: 200px;
height: 700px;	
border: 1px #5F4B8B solid;
display: 
}

#storeheader > img{
	display: inline-block;
	margin: 10px;
}

#storeheader > a{
	display: block;
	height: 50px;
}

.font{
	margin: 0px auto;
	width: 180px;
}