@charset "UTF-8";

body{
	background-image: url("/Semi_1/img/background/cream_pixels.png");
	background-repeat: repeat;
}

section{
	height: 1000px;
	background-color: white;
	margin-top: 98px;
	margin-left: 20%;
	margin-right: 20%; 
	padding: 10px 30px;
}

div h1{
	vertical-align: middle;
	margin-top: 80px;
	padding-bottom: 80px;
	text-align: center;
	font-weight: 100;
}


h1{
	text-align: center;
	color: #000000;
	font-size: 40px;
}

.coupon_1{
	height: 100px;
}

.div_coupon{
	display: block;
	padding: 30px;
}

div a{
	text-decoration: none;
}
<<<<<<< HEAD

#write{
	padding: 5px 10px;
}









=======
#admin a{
	text-decoration: none;
	text-align:center;
	font-size: 50px;
	color:black;
}
#admin a:hover{
	color: #5f4b8b;
}	
	
>>>>>>> jae
