@charset "UTF-8";
*{
	margin:  0;
	padding: 0;
}
body{
	background-image: url("/Semi_1/img/background/cream_pixels.png");
	background-repeat: repeat;
}

section{
	height: auto;
	background-color: white;
	margin-top: 98px;
	margin-left: 20%;
	margin-right: 20%; 
	padding-top: 10px;
	padding-bottom: 100px;
}

h1{
	margin-top: 100px;
	text-align: center;
	color: #000000;
	padding: 10px;
	font-size: xx-large;
	border-bottom: 2px solid #5f4b8b;
}
#back{
	width: 800px;
	background-color: white;
	margin: auto;
}
#se{
	margin-top:50px;
	margin-left: 30px;
}
#se input{
	width: 200px;
	height: 30px;
	margin: 10px;
}
#se button{
	width: 100px;
	height: 30px;
	margin: auto;
	text-align: center;
	font-size: 15px;
	font-weight:bold;
	margin-bottom: 50px;
	border-radius: 5px;
	background-color: #5f4b8b;
	color: white;
	border: none;
}











