@charset "UTF-8";

body{
	background-image: url("/Semi_1/img/background/cream_pixels.png");
	background-repeat: repeat;
}

section{
	height: 1000px;
	background-color: white;
	margin-top: 98px;
	margin-left: 20%;
	margin-right: 20%; 
	padding: 10px 30px;
}

div h1{
	vertical-align: middle;
	margin-top: 80px;
	padding-bottom: 80px;
	text-align: center;
	font-weight: 100;
}


h1{
	text-align: center;
	color: #000000;
	font-size: 40px;
}

.coupon_1{
	height: 100px;
}

.div_coupon{
	display: block;
	padding: 30px;
}

div a{
	text-decoration: none;
}

#write{
	padding: 5px 10px;
}


#admin a{
	text-decoration: none;
	text-align:center;
	font-size: 50px;
	color:black;
}
#admin a:hover{
	color: #5f4b8b;
}	
	
.adminlist{
	width: 50%;
	height: 70px;
	line-height: 70px;
	text-align:center;
	margin: 0 auto;
	color:#5f4b8b;
	border-bottom: 1px #E1E1E1 solid;
}
	
	.acoupon{
	font-size: 25px;
	display: inline-block;
	}
	.dcoupon{
	display: inline-block;
	}
	.dcoupon a{
	text-decoration: none;
	color:#d1d1d1;
	font-weight: bold;
	}
	.dcoupon a:hover{
	text-decoration: none;
	color:red;
	}
	
	#write{
	border: 1px #E1E1E1 solid;
	text-align: center;
	line-height: 100px;
	color: #5f4b8b;
	font-size: 20px;
	font-weight: bold;
	width: 300px;
	height: 100px;
	margin: 30px auto;
	cursor: pointer;
	 -webkit-transition:background-color 1s;
    transition:background-color 1s;
	}
	#write:hover{
	color: white;
	background-color: #5f4b8b;
	}
