@charset "UTF-8";

body {
	background-image: url("/Semi_1/img/background/cream_pixels.png");
	background-repeat: repeat;
}

section {
	height: 1000px;
	background-color: white;
	margin-top: 98px;
	margin-left: 23%;
	margin-right: 23%;
}

table.list_table{
	border-collapse: seperate;
	border-spacing: 1px;
	text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
 	margin : 20px 10px;
	table-layout: fixed;	
}

table.list_table th{
	width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}


table.list_table td{
	width: 350px;
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

h2 a{
	color: black;
	font-weight:bolder;
	font-size: xx-large;
}

h2 a:hover {
	color: #5F4B8B; text-decoration: none;
}
td a:hover { 
	color: #5F4B8B; text-decoration: none;
}

#div_search{
	
	margin-top: 50px;
	margin-bottom: 15px;
	
}











}