@charset "UTF-8";

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Karma", sans-serif
}

.w3-bar-block .w3-bar-item {
	padding: 20px
}

.photo {
	weight: 270px;
	height: 400px;
}


.w3-hover-opacity {cursor: pointer;}