@charset "UTF-8";
#storeoiew{
	background-color: white;
	height: 100%;
	margin-left: 70px;
}

#kindlist{
	width: 66%;
	margin: 70px auto;
	height: 100%;
	display: block;
}

#oooo{
	display: block;
	height: 90px;
	width: 100%;
}

#kindoo{
	width: 100%;
	margin: 0 auto;
}
#kindoo li{
	float:left;
	line-height:20px;
	list-style-type: none;
	vertical-align: middle;
	text-align: center;
	width: 150px;
}

#kindinsert{
	width:100%;
	height:100%;
	display: block;
	margin: 50px auto;
}
#kindinsert form{
	width: 100%;
	margin: 0 auto;
	}

#kindinsert ul li{
	border-right: 1px #E1E1E1 solid;
}

#sty{
	font-size: 20px;
	font-weight: bold;
}

#oo{
	text-decoration: none;
	color:#5F4B8B;
}

#oo:hover{
	text-decoration: none;
	color:red;
}
#listbtnt{
	border: #6baed6 dashed 1px;
	width: 50%;
	height: 70px;
	margin: 70px auto;
	text-align: center;
}
#postitl{
	margin: 20px 0;
	background-color: white;
	width:100%;
	height: 40px;
}

#postitl ul li{
	font-weight: bold;
	float:left;
	line-height:40px;
	list-style-type: none;
	vertical-align: middle;
	text-align: center;
}

.style{
	width: 250px;
	height: 40px;
	border: none;
}
.price{
	width: 100px;border: none;
	height: 40px;
}
.gender{
	width: 150px;
	height: 40px;
	border: none;
}
.kind{
	width: 100px;
	height: 40px;
	border: none;
}
.file{
	width: 250px;
	height: 40px;
	border: none;
}
.tt{
	border-bottom: #E1E1E1 solid 1px;
}
.plus{
	background-color:white;
	width: 100px;
	height: 67px;
	font-size: 20px;
	font-weight: bold;
	color: #6baed6;
	text-align: center;
	line-height: 70px;
	border:none;
	 -webkit-transition:background-color 2s;
    transition:background-color 2s;
    margin-right: 30px;
}

#kindbtn{
	margin-bottom: 50px;
	float: right;
	width: 100%;
	height: 70px;
	border: #E1E1E1 solid 1px;
	background: white;
	color:#6baed6;
	 -webkit-transition:background-color 1s;
    transition:background-color 1s;
    font-size: 17px;
    font-weight: bold;
}
#kindbtn:hover{
	background-color: #6baed6;
	color: white;
	border:none;
}

.plus:hover{
	background-color: #6baed6;
	color: white;
	border:none;
}
