@charset "UTF-8";
#storeView{
	background-color: white;
}


#kindoo{
	width: 100%;
	margin: 0 auto;
}
#kindoo li{
	float:left;
	line-height:20px;
	list-style-type: none;
	vertical-align: middle;
	text-align: center;
	width: 150px;
}

#kindinsert{
	width:50%;
	height:100%;
	display: block;
	margin: 50px auto;
}

#kindinsert ul li{
	border-right: 1px #E1E1E1 solid;
}

#sty{
	font-size: 20px;
	font-weight: bold;
}

#oo{
	text-decoration: none;
	color:#5F4B8B;
}

#oo:hover{
	text-decoration: none;
	color:red;
}
#listbtn{
	border: #6baed6 solid 2px;
	width: 50%;
	height: 70px;
	margin: 0px auto;
	text-align: center;
}
#postitle{
	margin: 20px 0;
	background-color: white;
	width:100%;
	height: 40px;
}

#postitle ul li{
	font-weight: bold;
	float:left;
	line-height:40px;
	list-style-type: none;
	vertical-align: middle;
	text-align: center;
}

.style{
	width: 200px;
	height: 40px;
	border: none;
}
.price{
	width: 150px;border: none;
	height: 40px;
}
.gender{
	width: 100px;
	height: 40px;
	border: none;
}
.kind{
	width: 100px;
	height: 40px;
	border: none;
}
.file{
	width: 200px;
	height: 40px;
	border: none;
}
.tt{
	border-bottom: #E1E1E1 solid 1px;
}
.plus{
	background-color:white;
	width: 60px;
	height: 69px;
	font-size: 20px;
	font-weight: bold;
	color: #6baed6;
	text-align: center;
	line-height: 69px;
	border:none;
	 -webkit-transition:background-color 2s;
    transition:background-color 2s;
    margin-right: 30px;
}

.plus:hover{
	background-color: #6baed6;
	color: white;
	border:none;
}
#listbtn {
  position: relative;
  display: flex;
  width: 640px;
  margin: 4em auto;
}
#listbtn input {
  display: block;
  width: 20%;
  padding: .75em 0;
  text-decoration: none;
  line-height:70px;
  text-align: center;
}
.listbtn-underline {
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 20%;
  height: 2px;
  background: #333;
  transition: all .3s ease-in-out;
}
#listbtn input:nth-child(1).is-current ~ .listbtn-underline {
  left: 0;
}
#listbtn input:nth-child(2).is-current ~ .listbtn-underline {
  left: 20%;
}
#listbtn input:nth-child(3).is-current ~ .listbtn-underline {
  left: 40%;
}
#listbtn input:nth-child(4).is-current ~ .listbtn-underline {
  left: 60%;
}
#listbtn input:nth-child(5).is-current ~ .listbtn-underline {
  left: 80%;
}
#listbtn input:nth-child(1):hover ~ .listbtn-underline {
  left: 0;
}
#listbtn input:nth-child(2):hover ~ .listbtn-underline {
  left: 20%;
}
#listbtn input:nth-child(3):hover ~ .listbtn-underline {
  left: 40%;
}
#listbtn input:nth-child(4):hover ~ .listbtn-underline {
  left: 60%;
}
#listbtn input:nth-child(5):hover ~ .listbtn-underline {
  left: 80%;
}
