@charset "UTF-8";
/*! scaffolding */
body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5,
	h6, input, legend, li, ol, p, pre, select, table, td, textarea, th, ul,
	figure, figcaption {
	margin: 0;
	padding: 0
}

html {
	font-size: 11px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased
}

a {
	text-decoration: none
}

a:hover {
    text-decoration: none;
}
/*! content */

/*> 상세페이지 */
#br_menu .view_wrap {
	width: 900px;
	margin: 45px auto 0;
}

.view_product .header {
	padding: 52px 0 0 0;
	text-align: center;
	position: relative;
}

.view_product .content {
	color: #948780;
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	line-height: 20px;
}

.view_product .buy {
	position: absolute;
	left: 250px;
	bottom: 120px;
	width: 100%;
	z-index: 9;
}

.view_product .buy a {
	display: inline-block;
	font-size: 17px;
	font-weight: 700;
	background: #5F4B8B;
	line-height: 50px;
	width: 178px;
	height: 50px;
	text-align: center;
	color: #fff;
}

.favor{
	position: absolute;
	left: 250px;
	bottom: 180px;
	width: 100%;
}

.off{
	background-color: #fff;
	font-size: 17px;
	font-weight: 700;
	margin: 10px 0px;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	line-height: 50px;
	width: 178px;
	height: 50px;
	border:#5F4B8B 1px solid;
	 -webkit-transition:background-color 0.5s;
    transition:background-color 0.5s;
}

.off:hover{
	background-color: #5F4B8B;
	color: #fff;
}

.on{
    color: #fff;
	background-color: #5F4B8B;
	font-size: 17px;
	font-weight: 700;
	margin: 10px 0px;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	width: 178px;
	height: 50px;
	border:#5F4B8B 1px solid;
	 -webkit-transition:background-color 0.5s;
    transition:background-color 0.5s;
}

.on:hover{
	background-color: #fff;
	color: #5F4B8B;
}

#font {
	font-weight: bold;
}

.container {
	height: 700px;
}

#box{
	border-top: 2px solid #5F4B8B;
	border-bottom: 2px solid #5F4B8B; 
	height: 90%;
	width: 900px;
	background-color: #fff;
	padding: 30px;
	margin-top:7px;
	margin-left: 100px;
}

#imagesize{
	padding-top:5px;
	padding-left: 50px;
	float:left;
}

#info{
	padding-top: 50px;
	padding-left: 200px;	
}

#h3stylename{
	padding-right:20px; 
	padding-bottom: 15px;
}

#h3style{ 
	padding-right:10px;
	padding-bottom: 30px;
}

#h3storename{
	padding-right:10px;
	padding-bottom: 15px;
}

#h3store{
	padding-left:15px;
	padding-bottom: 30px;
}

#h3pricename{
	padding-right:35px;
	padding-bottom: 15px;
}




