@charset "UTF-8";
/* ===================마이페이지==================================== */
@import url(https://fonts.googleapis.com/css?family=Raleway:500,900);
@import url('https://fonts.googleapis.com/css?family=Anton|Barlow+Semi+Condensed:300');
figure.snip1432 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
 /*  float: left; */
  overflow: hidden;
  margin: 10px 1%;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: left;
}
figure.snip1432 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
figure.snip1432 img {
  opacity: 0.8;
  width: 100%;
  vertical-align: top;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip1432 figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
figure.snip1432 figcaption > div {
  height: 50%;
  overflow: hidden;
  width: 100%;
  position: relative;
}
figure.snip1432 h2,
figure.snip1432 h3 {
  margin: 0;
  position: absolute;
  left: 0;
  padding: 0 30px;
  text-transform: uppercase;
}
figure.snip1432 h2 {
  font-weight: 900;
  top: 0;
}
figure.snip1432 h3 {
  font-size: 1em;
  bottom: 0;
  font-weight: 500;
}
figure.snip1432 h3:nth-of-type(2) {
  opacity: 0;
  -webkit-transform: translateY(150%);
  transform: translateY(150%);
}
figure.snip1432 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}
figure.snip1432:hover img,
figure.snip1432.hover img {
  opacity: 0.3;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
figure.snip1432:hover figcaption h3:first-of-type,
figure.snip1432.hover figcaption h3:first-of-type {
  -webkit-transform: translateY(150%);
  transform: translateY(150%);
  opacity: 0;
}
figure.snip1432:hover figcaption h3:nth-of-type(2),
figure.snip1432.hover figcaption h3:nth-of-type(2) {
  opacity: 1;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}
/* Demo purposes only */
body {
  background-color: #ffffff;
  margin: auto;
}

/* ===================마이페이지==================================== */

*{
	margin:  0;
	padding: 0;
}
#hd{
	width: 100%;
	height: 339px;
	/* background-image: url('/Semi_1/img/member/hd.PNG'); */
	margin-top: 100px;
	margin-bottom: 50px;
	display: inline-block;
	z-index: -999;
	
}
#hd h2{
	margin-top: -300px;
	text-align: center;
	padding: 10px;
	font-size: xx-large;
	
}
#hd h4{
	text-align: center;
	
}
#info{
	width: 940px;
	height: 50px;
	/* border: 1px solid lightgray; */
	margin: auto;
}

#info li{
	font-family: 'Barlow Semi Condensed', sans-serif;
	width: 180px;
	list-style-type: none;
	margin: auto 0;
	float: left;
	font-size:large;
}
.mid{
	width: 1700px;
	margin: auto;
	margin-left: 480px;
}
.box{
	width:20%;
	height: 300px;
	display: inline-block;
}
#home{
	float: right;
	margin: 20px;
}
#home a{
	margin-top: 50px;
	text-decoration: none;
	color: black;
	font-size: 15px;
	text-align: center;
}
.acc{
	font-size: 12px;
}
#del{
	width: 1050px;
	height:100px;
	margin: auto;
}
#button{
	width: 90px;
	height: 20px;
	background-color: gray;
	color: white;
	border:none;
	text-decoration: none;
	text-align: center;
	font-size: 15px;
	margin-bottom: 50px;
	float: right;
}
#coupon{
	height: 30px;
}


	