@charset "UTF-8";

body{
	background-image: url("/Semi_1/img/background/cream_pixels.png");
}

section{
	height: 1000px;
	background-color: white;
	margin-top:98px;
	margin-left: 23%;
	margin-right: 23%; 
}

div{
}


h1{
	font-size:xx-large;
	font-weight: lighter;
}

.coupon_1{
	height: 100px;
}