@charset "UTF-8";
*{
	margin:  0;
	padding: 0;
}

#hdtop{

}
#logo{
	margin-top: 30px;
	margin-left: 200px;

}
#login{
float: right;
color: white;
text-decoration: none;
}
#notice{
float: right;
color: white;
text-decoration: none;
}