@charset "UTF-8";
*{
	margin:  0;
	padding: 0;
}
h1{
	margin-top: 150px;
	margin-bottom: 10px;
	margin-left: 440px;
	color: gray;
}
table{
	border-top: 2px solid black;
	width: 800px;
	margin: auto;
	display: block;

}
th, td{
	font-size: 12px;
	border-bottom: 1px solid lightgray;
	margin-top: 10px;
	margin-bottom: 10px;
}
th{
	text-align: left;
	width: 120px;
}
td{
	width: 680px;
}
a{
	color: red;
}
.box{
	width: 180px;
}