@charset "UTF-8";
*{
	margin:  0;
	padding: 0;
}
h1{
	margin-top: 150px;
	margin-bottom: 10px;
	
	color: gray;
}
a{
	color: red;
}
table{
	width: 800px;
	margin: auto;
	display: block;
	margin-bottom: 50px;
}
#jointable{
	border-top: 2px solid black;
}
#jointable th, #jointable td{
	font-size: 12px;
	border-bottom: 1px solid lightgray;
	padding: 10px;
}
#jointable th{
	text-align: left;
	width: 120px;
}
#jointable td{
	width: 680px;
}

.box{
	width: 200px;
	height: 20px;
	border: 1px solid lightgray;
}
/* ========================첫번째테이블↑====================== */
#infotable1{
	border: 1px solid lightgray;
}
/* ========================두번째테이블↑====================== */
.total1{
	font-weight: bolder;
	font-size: 15px;
	border-bottom: 1px solid lightgray;
	padding: 10px;
	
}
.total2{
	font-weight: bolder;
	font-size: 15px;
	padding: 10px;
	
}
textarea{
	width: 730px;
	height: 80px;
	margin: auto 0;
	margin-left: 18px;
	margin-top: 10px;
	padding: 10px;
}
/* ====================전체동의/이용약관↑======================= */
#infotable2{
	border: 1px solid lightgray;
}
#infotable2 td, #infotable2 th{
		height: 80px;
		width:800px;
		font-size: 12px;
		text-align: center;
		border: 1px solid lightgray;
		border-collapse: collapse;
		padding: 0px;
		margin-top: -50px;
}
/* ========================세번째테이블↑====================== */
#overlap, .btn2{
	width: 90px;
	height: 22px;
	background-color: #5f4b8b;
	color: white;
	border: none;
	text-decoration: none;
	text-align: center;
	font-size: 12px;
	display: inline-block;
	margin-left: 10px;
}
#check{
	width: 200px;
	height: 40px;
	margin: auto;
	display: block;
	font-weight: bolder;
}
/* ========================버튼류↑======================= */

















