@charset "UTF-8";

#main{
width: 100%;
height: 100%;
background-image: url("/Semi_1/img/background/cream_pixels.png");
background-repeat: repeat;
display: block;
margin-top: 100px;
font-family: 'Poppins','Nanum Gothic', sans-serif;
}
