<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Semi_1</display-name>
  <servlet>
    <servlet-name>store</servlet-name>
    <servlet-class>com.iu.control.StoreController</servlet-class>
    <init-param>
      <param-name>property</param-name>
      <param-value>store.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>store</servlet-name>
    <url-pattern>*.store</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>pos</servlet-name>
  <servlet-class>com.iu.control.PosController</servlet-class>
  <init-param>
  <param-name>property</param-name>
  <param-value>pos.properties</param-value>
  </init-param>
  </servlet>
  <servlet-mapping>
  <servlet-name>pos</servlet-name>
  <url-pattern>*.pos</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>faq</servlet-name>
    <servlet-class>com.iu.control.FaqController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>faq</servlet-name>
    <url-pattern>*.faq</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>notice</servlet-name>
    <servlet-class>com.iu.control.NoticeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>notice</servlet-name>
    <url-pattern>*.notice</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>score</servlet-name>
    <servlet-class>com.iu.control.ScoreController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>score</servlet-name>
    <url-pattern>*.score</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <servlet-name>member</servlet-name>
    <servlet-class>com.iu.control.MemberController</servlet-class>
    <init-param>
      <param-name>property</param-name>
      <param-value>member.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>member</servlet-name>
    <url-pattern>*.member</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>encoding</filter-name>
    <filter-class>com.iu.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>enc</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/view/common/error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/WEB-INF/view/common/error_server.jsp</location>
  </error-page>
  
 <servlet>
    <servlet-name>json</servlet-name>
    <servlet-class>com.iu.control.JsonController</servlet-class>
    <init-param>
      <param-name>property</param-name>
      <param-value>json.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>json</servlet-name>
    <url-pattern>*.json</url-pattern>
  </servlet-mapping>
  
  <resource-ref>
    <res-ref-name>jdbc/hair01</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>