@charset "UTF-8";

h1{
	margin-top: 20px;
	text-align: center;
	color: #5f4b8b;
	padding: 10px;
	font-size: xx-large;
}

#info1 {
    font-size: 13px;
    color: gray;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: #D8D8D8 solid 1px;
    margin-bottom: 50px;
}

#mypage {
	float: right;
}

select {
	height: 26px;
}

.container {
	height: 660px;
	weight: 800px;
}

#list {
	margin-top: 30px;
	height: 90%;
	background-color: #fff;
	padding: 30px;
}

.table{
	margin-bottom: 10px;
	margin-top: 20px;
}


.table>thead>tr>th{
	border-top: 2px solid #5f4b8b;
	border-bottom: 2px solid #5f4b8b;
	padding: 20px;
}


.table td{
	border-bottom: 1px solid #5f4b8b;
	padding: 20px;
}
